<div id="container" [ngClass]="{remove: removeClass}">
  <div class="sub-container">

    <div class="row-1">
    <h1>Login</h1>
  </div>
  <form class="row-2" (ngSubmit)="ngSubmit(form)" #form='ngForm'>
    <div class="first">
      <div>
        <ion-item>
          <ion-label position="floating">Telefone/Email</ion-label>
          <ion-input type="number" name="telefone" #telefone 
          ngModel
          >
          </ion-input>
        </ion-item>
      </div>

      <div>
        <ion-item>
          <ion-label position="floating" #senha>Password</ion-label>
          <ion-input type="password" name="password" 
          ngModel></ion-input>
        </ion-item>
      </div>
    </div>
      
    
      <div class="second">
        <button type="submit" >Login</button>
        <p>or</p>
        <h5 routerLink="/signup">Criar uma conta</h5>
      </div>
  </form>
  
  </div>
  
 
</div>