<div id="container">
  <div class="catcher" #holder>
    <div class="holder">
    </div>
  </div>
  <div class="badget-buttons">
    <div class="headline">
      <h1>Selecione os item que desejar</h1>
    </div>
    <div class="badgets">
      <span class="active">Todos</span>
      <span 
      *ngFor="let product of ['Caminsas', 'Calções', 'Cazacos', 'Vestidos', 'Calças']"
      (click)="moveTo()">{{product}}</span>
    </div>
  </div>
  <div class="flex-outlet">
    <router-outlet></router-outlet>
  </div>
</div>