<div id="container">
  <div class="sub-container">

 <div class="row-1">
    <h1>Sign Up</h1>
  </div>

  <div class="row-2">
    <form>
      <div class="items">

        <div class="first">
          <ion-item>
            <ion-label position="floating">Nome completo</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
  
        <div class="second">
          <ion-item>
            <ion-label position="floating" inputmode="numeric">Telefone/Email</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div> 
        <div class="third">
          <ion-item>
            <ion-label position="floating">Localização</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
  
        <div class="fourth">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" pattern="password" required></ion-input>
          </ion-item>
        </div>

      </div>
     

      <div class="row-button">
        <button type="submit" routerLink="/home">Cadastrar</button>
      </div>

    </form>
  </div>

  </div>
</div>