
<ion-content [fullscreen]="true">
  <div class="spliter">

    <div class="fixed-content">
      <div class="overlay">
        <div></div>
        <h1></h1>
        <div class="grid">

        </div>
      </div>
   
  </div>

 <div class="main-content">
    <h1>Outras lavandarias disponiveis</h1>

    <div class="card" *ngFor="let i of [1,2,3,4,5]">

      <div class="img">
        
      </div>

      <div class="body-flex">
         <div class="body">
        <h1 class="title">Lavandaria Sick</h1>
          <div class="location">
          <h3>Localizacoa</h3>
          <p>Viana vila</p>
          </div>

          <div class="tel">
          <h3>Telefone</h3>
          <p>993477464</p>
          </div>
       </div>
      </div>
     
    </div>
 </div>
  </div>
  
</ion-content>
